<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.sirelon.sellsnap.olx</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>selolxai</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>SellSnap needs camera access to capture photos for your OLX listing.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>SellSnap uses your location to suggest the nearest city for your OLX advertisement.</string>
</dict>
</plist>
